<h3>make new profile here</h3>

<%= simple_form_for @profile do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :location %>
  <%= f.input :pronouns %>
  <%= f.input :selected_languages %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>

<%= link_to "Home", root_path %>
