<h3>make new profile here</h3>

<%= simple_form_for @profile do |f| %>
  <%= f.input :name %>
  <%= f.input :age %>
  <%= f.input :location %>
  <%= f.input :pronouns %>
  <%= f.input :language_ids, collection: Language.all, label_method: :language, value_method: :id, input_html: { multiple: true, data: {controller: "tom-select"} }, include_hidden: false %>
  <%= f.input :photos, as: :file, input_html: { multiple: true } %>
  <%= f.submit %>
<% end %>

<%= link_to "Home", root_path %>
