<h3>here you can see your profile deets</h3>
<%= @profile.name %>
<%= @profile.age %>
<%= @profile.location %>
<%= @profile.pronouns %>

<%= link_to "home", root_path %>

<%= link_to "delete profile", delete_profile_path(@profile), data: { turbo_method: :delete, turbo_confirm: "Sure you want to delete your profile?" } %>
