
<div class="banner">
<div class="profile-picture"></div>
</div>

</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h3>@<%= @profile.name %></h3>
        <p class="pronouns"><%= @profile.pronouns %></p>
        <p class="birthday location"><i class="fa-solid fa-location-dot"></i><%= @profile.location %> &nbsp; &nbsp; <i class="fa-solid fa-cake-candles"></i> <%= @profile.age %></p>
        <p><%= @profile.bio %></p>
      </div>
    </div>
</div>
