<% if policy(@profile).edit? %>
  <div class="edit-profile">
    <%= link_to edit_profile_path(@profile) do %>
      <i class="fa-solid fa-pencil"></i>
    <% end %>
  </div>
<% end %>

<% if current_user != @profile.user %>
  <div class="profile-back-button">
    <%= link_to :back do %>
      <i class="fa-solid fa-arrow-left"></i>
    <% end %>
  </div>
<% end %>

<div class="banner">
<div class="profile-picture">
<% @profile.photos.each do |photo| %>
  <%= cl_image_tag photo.key, height: 100, width: 100, crop: :fill %>
<% end %>
</div>
</div>

</div>
  <div class="container">
    <div class="row">
      <div class="col-md-6 mx-auto">
        <h3>@<%= @profile.name %></h3>
        <p class="pronouns"><%= @profile.pronouns %></p>
        <p class="birthday location"><i class="fa-solid fa-location-dot"></i> <%= @profile.location %> &nbsp; &nbsp; <i class="fa-solid fa-cake-candles"></i>  <%= @profile.age %></p>
        <div class="profile-line"></div>
        <% if @profile.bio.present? %>
          <p><%= @profile.bio %></p>
        <% else %>
          <p class="bio">This user hasn't provided a bio yet.</p> <!-- Default bio -->
        <% end %>
        <div class="profile-line"></div>
          <div class="centered-links">
            <%= link_to artists_path, class: "centered-link" do %>
              My Artists
              <i class="fa-solid fa-pencil"></i>
            <% end %>
          </div>
        <div class="artists-container">
        <% @profile.selected_artists.each do |artist| %>
          <%= artist.artist.name %>
        <% end %>
        </div>
        <div class="profile-line"></div>
        <div class="centered-links languages">
        Languages:
        <% @profile.languages.each do |language| %>
          <%= language.language %>
        <% end %>
        </div>

        <div class="profile-line"></div>
        <div class="centered-links logout">

              <% if policy(@profile).edit? %>
                <%= link_to "Logout", destroy_user_session_path, data: { turbo_method: :delete, turbo_confirm: "Sure you want to log out?" }, class: "centered-link" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
