

<div class="swiper-container" data-controller="swiper">
  <div class="swiper-wrapper">
    <% @profiles.each_with_index do |profile, index| %>
      <div class="swiper-slide profile-card-<%= index %>" data-profile-id="<%= profile.id %>">
        <div class="d-none">
          <%= simple_form_for [profile, Match.new], data: { swiper_target: "form", form_id: profile.id } do |f| %>
            <%= f.submit %>
          <% end %>
        </div>
        <!-- Profile card content here -->

        <div class="card">
          <% if profile.photos.present? %>
            <div class="profile-photo">
              <img src="<%= profile.photos.first %>" alt="Profile Photo">
            </div>
          <% else %>
            <div class="profile-photo"></div>
          <% end %>
          <div class="username"><%= profile.name %></div>
          <div class="pronouns"><%= profile.pronouns %></div>
          <div class="profile-details">
            <p class="age location"><i class="fa-solid fa-cake-candles"></i> <%= profile.age %> &nbsp; &nbsp; <i class="fa-solid fa-location-dot"></i> <%= profile.location.capitalize %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
