<div class="logo">
  <%= image_tag "Logo.png", size: '75x54'%>
</div>

<div class="swiper-container" data-controller="swiper">
  <div class="swiper-wrapper">
    <% @profiles.each_with_index do |profile, index| %>
      <div class="swiper-slide profile-card-<%= index %> <%= index == 0 ? "currentCard" : "d-none" %>" data-swiper-target="card">
        <!-- Profile card content here -->

        <div class="card">
          <% if profile.photos.present? %>
            <div class="profile-photo">
              <%= image_tag(profile.photos.first, alt: "Profile Photo") %>
            </div>
          <% else %>
            <div class="profile-photo"></div>
          <% end %>
          <div class="username"><%= profile.name.capitalize %></div>
          <div class="pronouns"><%= profile.pronouns.capitalize %></div>
          <div class="profile-details">
            <p class="age location"><i class="fa-solid fa-cake-candles"></i> <%= profile.age %> &nbsp; &nbsp; <i class="fa-solid fa-location-dot"></i> <%= profile.location.capitalize %></p>
            <p class="swiper-card-bio"><%= profile.bio %></p>
            <ul>
              <% profile.selected_artists.each do |artist| %>
                <% if artist.artist.images.any? %>
                <div class="d-flex align-items-baseline mb-3">
                  <div class="rounded-circle mr-3 artist-image">
                    <%= cl_image_tag artist.artist.images.first.key, class: "img-fluid rounded-circle" %>
                  </div>
                  <div class="d-flex flex-column">
                    <div class="swiper-card-artist-name">
                      <%= artist.artist.name %>
                    </div>
                  </div>
                </div>
              <% end %>
              <% end %>
            </ul>
          </div>
        </div>

        <div class="button-container">
          <button class="circle-button not-today-button" data-action="click->swiper#swipeLeft"><i class="fas fa-times"></i></button>
          <%= simple_form_for [profile, Match.new], data: { action: "submit->swiper#swipeRight", form_id: profile.id } do |f| %>
            <button class="circle-button match-button" type="submit"><i class="fas fa-heart"></i></button>
          <% end %>
        </div>

      </div>
    <% end %>
  </div>

  <button type="button" class="btn btn-primary d-none" data-bs-toggle="modal" data-bs-target="#exampleModalCenter" data-swiper-target="modalButton">
    Launch demo modal
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-body" data-swiper-target="modal">
          ...
        </div>
      </div>
    </div>
  </div>
</div>
