<h1>Get swiping!</h1>

<div class="swiper-container" data-controller="swiper">
  <div class="swiper-wrapper">
    <% @profiles.each_with_index do |profile, index| %>
      <div class="swiper-slide profile-card-<%= index %>" data-profile-id="<%= profile.id %>">
        <div class="">
          <%= simple_form_for [profile, Match.new], data: { swiper_target: "form", form_id: profile.id } do |f| %>
            <%= f.submit %>
          <% end %>
        </div>
        <!-- Profile card content here -->
        <div class="profile-name">
          <%= profile.name %>
        </div>
        <div class="profile-details">
          <p>Age: <%= profile.age %></p>
          <p>Location: <%= profile.location %></p>
          <p>Pronouns: <%= profile.pronouns %></p>
        </div>
        <div class="profile-photo">
          <img src="<%= profile.photos.first %>" alt="Profile Photo">
        </div>
      </div>
    <% end %>
  </div>
</div>
