<%# frozen_string_literal: true %>
<%%= simple_form_for(@<%= singular_table_name %>) do |f| %>
  <%%= f.error_notification %>
  <%%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
  <%- attributes.each do |attribute| -%>
    <%%= f.<%= attribute.reference? ? :association : :input %> :<%= attribute.name %> %>
  <%- end -%>
  </div>

<%= form_for @user do |f| %>
<%= f.label  :name %>
<%= f.text_field  :name %>
<%= Artist.all.each do |artist| %>
<% check_box_tag "user[artist_ids][]", artist.ids, @user.artists.include?artist)%>
<%  label_tag "user_artist_ids_#{artist.id}", artist.name %>

  <div class="form-actions">
    <%%= f.button :submit %>
  </div>
<%% end %>
