<%= link_to "Home", root_path %>

<div class="container match"
      data-controller="match-subscription"
      data-match-subscription-match-id-value="<%=@match.id %>"
>

  <h1>Chat with <%= @match_profile.name %></h1>

  <div class="messages" data-match-subscription-target="messages">

    <% @match.messages.each do |message| %>
      <%= render "messages/message", message: message %>
    <% end %>

    <%= simple_form_for [@match, @message], html: { data: { action: "turbo:submit-end->match-subscription#resetForm "} } do |f| %>
      <%= f.input :content,
          label: false,
          placeholder: "Send a message..."
      %>
      <%= f.submit "Send" %>
    <% end %>
  </div>
</div>
